{% extends "base.html" %}

{% block javascript %}
{{ block.super }}

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock javascript %}


{% block content %}


<h1>Product Detail</h1>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1">

      <div class="col">
        <div class="card shadow-sm">

          {% if product.cover %}
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ product.cover.url }}"
            alt="{{product.name}}">

          {% else %}
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
          {% endif %}

          <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small class="text-muted">&yen; {{ product.price }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="product my-5">
      {% if product.cover %}
      <img src="{{ product.cover.url }}" alt="{{product.name}}" />
      {% else %}
      <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />

      {% endif %}
      <div class="description">
        <h3>{{ product.name }}</h3>
        <h5>&yen; {{ product.price }}</h5>
      </div>
    </div>

    <form action="/create-checkout-session/{{product.slug}}/" method="POST">
      {% csrf_token %}
      <button type="submit" id="checkout-button">Checkout</button>
    </form>


  </div>
</div>


{% endblock content %}
