{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container my-5 py-5">

  <h1>Update product : {{ object.name }}</h1>

  <hr>

  <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="d-grid gap-2">
      <button class="primaryAction btn btn-primary mb-3" type="submit">Update Product</button>
      <a href="{{ object.get_delete_url }}" class="primaryAction btn btn-danger" type="submit">Delete Product</a>

    </div>
  </form>

</div>

{% endblock content %}
