{% extends "base.html" %}


{% block content %}

<h1 class="my-3">
  My Profile
</h1>

<hr>

<div class="container m-5">

  {% if details_submitted_message or external_account_message or individual_message %}
  <h2>Connect stripe account</h2>
  <h4 class="text-danger"> {{details_submitted_message}} </h4>
  <h4 class="text-danger"> {{external_account_message}} </h4>
  <h4 class="text-danger"> {{individual_message}} </h4>

  <a href="{% url 'stripe-account-link' %}" class="btn btn-primary btn-lg m-3 text-uppercase">connect stripe</a>

  {% else %}

  <h2>complete</h2>
  {% endif %}
</div>


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for product in request.user.userlibrary.products.all %}
      <div class="col">
        <a href="{{ product.get_absolute_url }}">
          <div class="card shadow-sm">

            {% if product.cover %}
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ product.cover.url }}"
              alt="{{product.name}}">

            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            {% endif %}

            <div class="card-body">
              <p class="card-text">{{ product.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">&yen; {{ product.price }}</small>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}



    </div>
  </div>
</div>
{% endblock content %}
